$color-pink: rgba(254, 214, 227, 0.66);
$color-bubble: linear-gradient(to bottom, rgba(198, 168, 237, 0.237) 0%, rgba(58, 206, 200, 0.283) 99.99%, rgba(50, 204, 197, 0.1) 100%);
@mixin color-bubble($size: 350px, $top: 0px, $left: 100px){
  background: $color-bubble;
  border-radius: 50%;
  position: absolute;
  width: $size;
  height: $size;
  top : $top;
  left: $left;
  z-index: 0;
}
@mixin btn($btn-color, $color, $margin: 30px){
  border: 1px solid $btn-color;
  border-radius: 20px;
  background-color: $btn-color;
  width: 150px;
  padding: 10px 20px;
  color: $color;
  display: block;
  text-decoration: none;
  margin: $margin;
}
body{
  overflow: hidden;
  position:relative;
}
.login-btn{
  @include btn(aqua, black, 0 auto);

}
.green-btn{
  @include btn(lime, black);
}
.green-btn-center{
  @include btn(lime, black, 0 auto);
}
.back-btn{
  @include btn(red, black);
}
.actions{
  display: flex;
  justify-content: center;
  margin: 50px;
}

//ページの大枠を囲む
.page-container{
  text-align: center;
}
.page-pink-wrap{
  background-color: $color-pink;
  border: solid 1px #fff;
  border-radius: 50px;
  padding-bottom: 30px;
  margin: 50px auto;
  width: 60%;
  min-width: 500px;
}

//小さいシャボン玉
.small-color-bubble{
  @include color-bubble;
}

//大きいシャボン玉
.big-color-bubble{
  @include color-bubble(480px, -200px, 1000px);
}
