.submit-btn {
  border: 1px solid aqua;
  border-radius: 30px;
  background-color: aqua;
  width: 150px;
  margin: 30px auto;
  padding: 10px 0;
  color: #fff;
  color: black;
}

.sign_in {
  font-family: cursive;
  font-size: 28px;
}
